body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 20px;
}

.editor {
    width: 80%;
    margin: 0 auto;
}

#code {
    width: 100%;
    min-height: 400px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap; /* Preserve line breaks */
    color: white;
}

.keyword {
    color: fuchsia;
}

.number {
    color: pink;
}

.comment {
    color: plum;
}

.string {
    color: #ff7b7b;
}